Source: ros-foxy-roverrobotics-ros2
Section: misc
Priority: optional
Maintainer: Nick Padilla <nickpadilla@roverrobotics.com>
Build-Depends: debhelper (>= 9.0.0), ros-foxy-ament-cmake, ros-foxy-ros-workspace
Homepage: 
Standards-Version: 3.9.2

Package: ros-foxy-roverrobotics-ros2
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-foxy-rover-bringup, ros-foxy-rover-description, ros-foxy-rover-driver, ros-foxy-rover-msgs, ros-foxy-rover-navigation, ros-foxy-rover-teleop, ros-foxy-ros-workspace
Description: Messages for communicating with a Rover Pro.
